on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

name: test

jobs:
  format-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup
        run: ./script/setup.bash bun pwsh
      - name: Install
        run: bun install --frozen-lockfile
      - name: Format
        run: bun format
      - name: Lint
        run: bun lint

  test-linux:
    needs: format-and-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup
        run: ./script/setup.bash bun pwsh
      - name: Install
        run: bun install --frozen-lockfile
      - name: Test
        run: bun test

  test-macos:
    needs: format-and-lint
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup
        run: ./script/setup.bash bun pwsh
      - name: Install
        run: bun install --frozen-lockfile
      - name: Test
        run: bun test

  test-windows:
    needs: format-and-lint
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup
        run: ./script/setup.ps1 bun
      - name: Install
        run: bun install --frozen-lockfile
      - name: Test
        run: bun test
